<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LinkedTrust - Candid</title>
    <link rel="stylesheet" href="../config/styles/statement.css" />
  </head>
  <body>
    <div class="container">
      <h2>Welcome To LinkedTrust-Candid</h2>
      <p>
        In this Form you are asked to give your Statement, as part of completing your
        Claim validation Process
      </p>

      <form id="statementForm">
        <textarea
          id="statement"
          name="statement"
          cols="25"
          rows="5"
          placeholder="Your Statement goes here, Please make sure you successufully submitted it after finishing.."
          required
        ></textarea>
        <!-- <input type="text" id="statement" name="statement" required /> -->
        <button type="submit">Submit</button>
      </form>
      <div class="message" id="message"></div>
    </div>
    <script src="../config/scripts/statement.js"></script>
  </body>
</html>
